.main {
  max-width: 1500px;
  margin: 0 auto; /* Centers horizontally */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
}
.h2 {
  font-size: 1.55rem;
  font-weight: bold;
  color: #2c3e50;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.headerContainer {
  display: flex; /* Use flex to arrange items in a row */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Push items to the edges */
  width: 100%; /* Full width to utilize space */
  margin-bottom: 10px; /* Space below the header */
  margin-top: 10px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds spacing between back button and title */
}

.headerRight {
  display: flex;
  justify-content: flex-end; /* Ensures the button is aligned to the right */
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  font-family: var(--font-geist-mono);
}
